/* versão desk */

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

.logo {
	width: 40px;
	height: 36.84px;
	top: 1%;
	position: absolute;
	left: 12%;
}

.title {
	position: absolute;
	left: 15%;
	display: flex;
}

.header-top {
	background-color: #e0e0e0;
	height: 60px;
	width: 100%;
	display: flex;
	/* justify-content: space-around; */
	align-items: center;
}

.header-top span {
	color: #333;
	font-size: 20px;
	font-weight: 600;
}

.formulário {
	position: absolute;
	width: 27%;
	margin-left: 11%;
	margin-top: 1%;
}

.title-form-responsive {
	display: none;
}

.titulo-box {
	display: none;
}

.text-center {
	text-align: center;
	margin: 0;
}

.text-right {
	text-align: right;
}

.menu-responsivo ul {
	display: flex;
	list-style-type: none;
	flex-direction: row;
	position: fixed;
	/* width: 350px; */
	height: 40px;
	background-color: white;
	color: #333;
	top: -0.5%;
	right: 11%;
	padding: 0;
}

.menu-responsivo ul li {
	align-items: center;
	margin: 7px 0;
	padding: 0px 20px 0px 10px;
	border-left: 1px solid #333;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	display: flex;
}

.menu-hamburguer {
	display: none;
}

.menu-responsivo ul li:nth-child(2) {
	border: 0;
}

.menu-responsivo ul li:nth-child(1) {
	display: none;
}

.itens-menu a {
	text-decoration: none;
	color: #333;
}

.caixa-form {
	border: 1px solid #979797;
	box-sizing: border-box;
	border-radius: 4px;
	width: 100%;
	height: 42px;
	padding-left: 1%;
	font-size: 14px;
	padding: 2%;
}

.tipos {
	border: 1px solid #979797;
	box-sizing: border-box;
	border-radius: 4px;
	width: 100%;
	height: 20%;
	padding: 3%;
}

.container {
	margin: 2%;
	border-radius: 2%;
}

/*  */
.tabela {
    width: 65%;
    margin-left: 28%;
    display: block;
}

.tabela_h1 {
	font-size: 18px;
	margin-top: 40px;
	text-align: center;
	margin-bottom: 19px;
}

.valorex {
	margin-right: 10px;
	color: #000000;
	font-size: 14px;
	text-align: right;
	width: 200px;
}

.tabela h2 {
	font-size: 14px;
	margin: 3px 0;
	margin-left: 30px;
	margin-right: 42px;
}

.plinha {
	font-size: 14px;
	color: #000000;
	width: inherit;
}

.tabLinha {
	border-bottom: 1px solid #979797;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.linhas {
	border-bottom: 1px solid #979797;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px 0;
	width: 100%;
}

.ultimalinha {
	border-top: 1px solid #979797;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 7px;
	margin-top: 3px;
	width: 100%;
}

.resultFinal {
	font-size: 10px;
	float: right;
	margin-right: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.tabela span {
	margin-right: 11px;
	margin-left: 10px;
}

.resultado {
	margin-right: 10px;
	font-size: 14px;
}

/*  */

.botão {
	width: 100%;
	height: 32px;
	border-radius: 4px;
	background-color: #333;
	color: #ffffff;
	margin: 8% 0% 0 0;
	font-style: normal;
	border-radius: 4px;
}

.borda-form {
	border-width: 100%;
	border: 1px solid #979797;
	padding: 3%;
}

.linha {
	display: contents;
}


.linha-extrato {
	width: 100%;
	border: 1px;
	color: #979797;
}

.linha-dupla {
	border-top: 4px double;
	width: 100%;
	border: 4px double solid #979797;
}

#lucro {
	text-align: right;
	font-size: 10px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 10px;
	background: #333;
}

.aviso {
	color: red;
}

.mt-1 {
	margin-top: 10px;
}

.mt-2 {
	margin-top: 20px;
}

.mt-3 {
	margin-top: 30px;
}

.mt-4 {
	margin-top: 40px;
}

.mt-5 {
	margin-top: 50px;
}

.mt-6 {
	margin-top: 60px;
}

.mb-1 {
	margin-bottom: 10px;
}

.mb-2 {
	margin-bottom: 20px;
}

.mb-3 {
	margin-bottom: 30px;
}

.mb-4 {
	margin-bottom: 40px;
}

.mb-5 {
	margin-bottom: 50px;
}

.mb-6 {
	margin-bottom: 60px;
}

/* versão tablet */

@media screen and (max-width:950px) {
	.menu-responsivo {
		position: absolute;
		right: 4%;
	}
	.logo {
		width: 30px;
		height: 27.63px;
		margin-top: 1%;
		left: 5%;
	}
	.header-top ul {
		background-color: #e0e0e0;
		height: 60px;
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.title {
		position: sticky;
		left: 40%;
	}
	.formulário {
		position: static;
		width: 90%;
		margin: 5%;
	}
	.tfr-1 {
		width: 28%;
		margin: 28px 0 0 0;
	}
	.tfr-2 {
		width: 47%;
		margin: 28px 0 0 0;
	}
	.tfr-3 {
		margin: 28px 0 0 0;
	}
	.title-form-responsive {
		display: flex;
		flex-direction: inherit;
		position: static;
	}
	.itens-menu a {
		margin-bottom: 10%;
		color: #ffffff;
	}
	.form-tab {
		display: flex;
	}
	.form-tab p {
		display: none;
	}
	.caixa-form {
		margin: 1%;
	}
	.caixa-form1 {
		width: 100%;
	}
	.caixa-form2 {
		width: 200%;
	}
	.caixa-form3 {
		width: 100%;
	}
	.botão {
		margin: 20px 0 0 0;
		width: 30%;
		height: 30px;
		left: 70%;
		position: sticky;
	}
	.menu-responsivo ul {
		display: none;
		list-style-type: none;
		background-color: #333;
		font-size: 16px;
		color: white;
		position: fixed;
		height: 100%;
		width: 35%;
		right: 0px;
		top: 0px;
		margin: 0px;
		padding: 20px 0px;
	}
	.menu-responsivo ul li {
		border-left: 1px solid #333;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		align-items: center;
		display: block;
		text-align: end;
	}
	.close {
		color: #ffffff;
		text-decoration: none;
	}
	#x-menu {
		text-align: left;
		display: block;
	}
	.itens-menu:hover {
		background-color: #c4c4c4;
		color: #333;
		display: block;
	}
	.tabela {
		width: 95%;
		margin-left: 3%;
		display: block;
	}
	.tabela h2{
		margin-right: 20px;
		margin-left: 20px;
	
	}
	.menu-hamburguer {
		display: block;
		width: 100%;
		position: relative;
	}
	.menu-hamburguer div {
		width: 18PX;
		height: 2px;
		background-color: #333;
		margin: 6px 0;
		display: block;
	}
	.menu-responsivo:hover ul {
		display: block;
	}
	.container {
		margin: 6.5%;
	}
	.linha {
		display: contents;
	}
	.borda-form {
		width: 96%;
		margin: auto;
	}
	

}

/* versão mobile */

@media screen and (max-width:411px) {
	.header-top {
		justify-content: space-around;
	}
	.menu-responsivo {
		position: static;
		text-align: right;
	}
	.logo {
		width: 30px;
		height: 27.63px;
		margin-top: 1%;
		left: 5%;
	}
	.header-top ul {
		background-color: #e0e0e0;
		height: 60px;
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.title {
		position: sticky;
		left: 25%;
	}
	.formulário {
		position: static;
		width: 90%;
		margin: 5%;
	}
	.title-form-responsive {
		display: none;
	}
	.form-tab {
		display: block;
	}
	.formulário form h3 {
		display: none;
	}
	.form-tab p {
		display: flex;
		margin-bottom: 2%;
	}
	.menu-responsivo ul {
		display: none;
		list-style-type: none;
		background-color: #333;
		font-size: 16px;
		color: white;
		position: fixed;
		height: 100%;
		width: 85.4%;
		right: 0px;
		top: 0px;
		margin: 0px;
		padding: 20px 0px;
	}
	.menu-responsivo ul li {
		border-left: 1px solid #333;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		align-items: center;
		display: block;
	}
	.tabela {
		width: 90%;
		margin: 0 auto;
	}
	#x-menu {
		text-align: left;
		display: block;
	}
	.itens-menu a {
		margin-bottom: 10%;
		color: #ffffff;
	}
	.itens-menu:hover {
		background-color: #c4c4c4;
		color: #333;
		display: block;
		height: 5%;
	}
	.menu-hamburguer {
		display: block;
		width: 100%;
	}
	.menu-hamburguer div {
		width: 18PX;
		height: 2px;
		background-color: #333;
		margin: 6px 0;
		display: block;
	}
	.menu-responsivo:hover ul {
		display: block;
	}
	.container {
		margin: 6.5%;
	}
	.caixa-form {
		width: 100%;
	}
	.botão {
		margin: 6% 0 0 0;
		width: 100%;
		height: 30px;
		position: static;
	}
	.linha {
		width: 100%;
		display: block;
		margin-top: 8%;
	}
	.borda-form {
		display: contents;
	}
	
}